
/* Navigation styles */
.inline-block {
    display: inline-block;
    vertical-align: top;
  }
  
  .logo {
    width: 23%;
    padding: 1%;
  }
  
  .navigation {
   width: 73%;
   padding: 1%; 
  }
  
  .inline-block{
    width: 50%;
    margin-left: auto;
    text-align: center;
  }
  
  
  /* Hero Image styles */
  .heroimg {
  height: 300px;
  padding: 25px;
  }
  
  .content {
    width: 500px;
    margin: 0 auto;
  }



   /*  <!--  My UX Skills section coded using CSS flex --> */

   .subHeading {
    text-align: center;
    border-bottom: 2px solid black;
    width: 300px;
    margin: 50px auto;
  }
  
  .flex-container {
    display: flex;
    flex-wrap: center;
    max-width: 1000px;
    }
 
.flex-container div {
    background-color: #ffffff;
    margin: 10px;
    padding: 10px;
}
     


   /*  <!--  My Projects section coded using CSS flex --> */

   .subHeading {
    text-align: center;
    border-bottom: 2px solid black;
    width: 300px;
    margin: 50px auto;
   }

   .workGrid {
    display: flex;
    height: 1200px;
    width: 800px;
    flex-direction: column;
    margin: 0 auto;
  }
  
  .DOI, .BALEAF, .Nami, .ElRey {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
  }
  .DOI {
    margin-top:20px;
    background-image: url("C:/Users/paugd/Documents/2023 UI UX UC Berkley - Paulina/6. Front End Development/UXUIHW18/Images/S7 - Case Study Cover.png");
    background-repeat: no-repeat;
    background-position: center;
  
  }
  .BALEAF {
    background-image: url("C:\Users\paugd\Documents\2023 UI UX UC Berkley - Paulina\6. Front End Development\UXUIHW18\Images\Donation Overlay2.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  .Nami {
    background-image: url("Images/Toddler Renders - 3 mama.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  .ElRey {
    background-image: url("Images\El Rey 2022 PS - 1.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }





     /* Footer styles */
  
  .footer {
    background-color: #373738;
    padding: 25px;
    display: inline-block;  
  }
  
  .home {
    padding: 25px;
  }
  
  .projects {
    padding: 25px;
  }
  
  .about {
    padding: 25px;
  }
  
  .resume {
    padding: 25px;
  }
  
  .inline-block {
    display: inline-block;
    vertical-align: top;
  }