
/* Navigation styles */
.inline-block {
    display: inline-block;
    vertical-align: top;
  }
  
  .logo {
    width: 23%;
    padding: 1%;
  }
  
  .navigation {
   padding: 1%; 
  }
  
  .inline-block{
    width: 50%;
    margin-left: auto;
    text-align: center;
  }

  nav {
    display: flex;
  }
  
  


  /* Hero Image styles */
  #heroimg {
  height: 300px;
  padding: 150px;
  }
  
  .content {
    width: 500px;
    margin-left:auto;
    margin-right:auto; 
  }



   /*  <!--  My UX Skills section coded using CSS flex --> */
   #mySkills {
    height: 300px;
    padding: 150x;
    }

   .subHeading {
    text-align: center;
    border-bottom: 2px solid black;
    width: 300px;
    margin: 50px auto;
   }
  
  .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    }
 
.flex-container div {
    background-color: #ffffff;
    margin: 10px;
    padding: 10px;
}
     


   /*  <!--  My Projects section coded using CSS flex --> */
   #myProjects {
    height: 300px;
    padding: 200px;
    }

   .subHeading {
    text-align: center;
    border-bottom: 2px solid black;
    width: 300px;
    margin-left:auto;
    margin-right:auto;  
   }

   .workGrid {
    display: flex;
    height: 1200px;
    width: 800px;
    flex-direction: column;
    margin: 0 auto;
  }
  
  .DOI, .BALEAF, .Nami, .ElRey {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
  }
  .DOI {
    margin-top:20px;
    background-image: url("../Images/S7 - Case Study Cover.png");
    background-repeat: no-repeat;
    background-position: center;
  
  }
  .BALEAF {
    background-image: url("../Images/Donation Overlay2.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  .Nami {
    background-image: url("../Images/Toddler Renders - 3 mama.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  .ElRey {
    background-image: url("../Images/El Rey 2022 PS - EWADING A BOOK2.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .text {
    background: rgb(0,0,0,0.7);
    width: 100%;
    padding: 10px 20px;
    color: white;
  }
  .text p {
    color: rgba(255, 255, 255, 0.7);
    font-family: Arial, Helvetica;
    font-size: small;
  }





     /* Footer styles */
  
  .footer {
    background-color: #373738;
    padding: 25px;
    display: inline-block;  
  }
  
  .home {
    padding: 25px;
  }
  
  .projects {
    padding: 25px;
  }
  
  .about {
    padding: 25px;
  }
  
  .resume {
    padding: 25px;
  }
  
  .inline-block {
    display: inline-block;
    vertical-align: top;
  }

  
  
  /*  Code a Mobile Media Query to Make Your Design Responsive for Mobile Devices */

  @media only screen and (max-width: max-width) {
    .workGrid {
      display: column;
      width: 100%
      grid-template-columns; 1fr;
      grid-template-areas:
      "DOI"
      "BALEAF"
      "Nami"
      "ElRey"
      ;
    }
    }

    
@media only screen and (max-width: 1000px) {
  #navigation {
    display: none;
  }
  .icons {
    margin-left: auto;
  }
}

@media only screen and (max-width: 600px) {
  #headline {
    position: static;
    margin: 20px;
  }
  
  
  }

  