
/* Navigation styles */
.inline-block {
    display: inline-block;
    vertical-align: top;
  }
  
  .logo {
    width: 23%;
    padding: 1%;
  }
  
  .navigation {
   width: 73%;
   padding: 1%; 
  }
  
  .inline-block{
    width: 50%;
    margin-left: auto;
    text-align: center;
  }
  
  
  /* Hero Image styles */
  .heroimg {
  height: 300px;
  padding: 25px;
  }
  
  .content {
    width: 500px;
    margin: 0 auto;
  }



   /*  <!--  My UX Skills section coded using CSS flex --> */

   .subHeading {
    text-align: center;
    border-bottom: 2px solid black;
    width: 300px;
    margin: 50px auto;
  }
  
  .flex-container {
    display: flex;
    flex-wrap: center;
    max-width: 1000px;
    }
 
.flex-container div {
    background-color: #ffffff;
    margin: 10px;
    padding: 10px;
}
     


   /*  <!--  My Projects section coded using CSS flex --> */

   .subHeading {
    text-align: center;
    border-bottom: 2px solid black;
    width: 300px;
    margin: 50px auto;
   }

   body {
    display: grid;
    padding: 2rem;
    grid-template-columns: 300px 1fr;
    gap: 1rem;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
  }

  img {
    max-width: 100%;
    height: auto;
  }

   






     /* Footer styles */
  
  .footer {
    background-color: #373738;
    padding: 25px;
    display: inline-block;  
  }
  
  .home {
    padding: 25px;
  }
  
  .projects {
    padding: 25px;
  }
  
  .about {
    padding: 25px;
  }
  
  .resume {
    padding: 25px;
  }
  
  .inline-block {
    display: inline-block;
    vertical-align: top;
  }